@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Venha conhecer nossa sede";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    R. Cerro Corá, 1038 <br />    
    Vila Romana, São Paulo - SP, 05061-200<br />
    <abbr title="Phone">Telefone:</abbr>
    (11)3024-3200
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:nst@first-tech.com">nst@first-tech.com</a>
</address>